:root {
  --sienna: rgba(2, 2, 2, .94);
  --white-smoke: whitesmoke;
  --grey-dark: #404040;
  --salmon: #d5664b;
  --relume-library-lite-rl-white: white;
  --dark-grey: #ababab;
  --elements-webflow-library-neutral--100: white;
  --relume-library-lite-rl-black: black;
  --burlywood: rgba(173, 79, 5, .94);
  --elements-webflow-library-accent--primary-1: #4a3aff;
  --elements-webflow-library-secondary--color-1: #281ca5;
  --elements-webflow-library-neutral--600: #6e7191;
  --elements-webflow-library-neutral--800: #211f54;
  --orangecaro: #f8bb8c;
  --orange-bis: #f8bf8c;
  --seashell: #f9efe9;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-backgroundvideo-backgroundvideoplaypausebutton:focus-visible {
  outline-offset: 2px;
  border-radius: 50%;
  outline: 2px solid #3b79c3;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  color: #333;
  font-family: Vollkorn, serif;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  margin: 10px 0;
  font-family: Montserrat, sans-serif;
  font-size: 23px;
  font-weight: 400;
  line-height: 36px;
}

h3 {
  color: var(--sienna);
  text-transform: uppercase;
  margin: 0 0 20px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

h4 {
  margin: 10px 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

h5 {
  margin: 10px 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

h6 {
  margin: 10px 0;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
}

p {
  margin-top: 0;
  margin-bottom: 5px;
  font-family: Vollkorn, serif;
  font-size: 15px;
  line-height: 22px;
}

a {
  text-decoration: underline;
}

.button {
  background-color: var(--white-smoke);
  color: var(--grey-dark);
  text-align: center;
  border: 1px solid #47474f;
  border-bottom-width: 2px;
  border-radius: 30px;
  padding: 15px 33px;
  font-family: Vollkorn, serif;
  font-size: 19px;
  font-style: italic;
  text-decoration: none;
  transition: color .425s, background-color .45s;
  display: inline-block;
}

.button:hover {
  border-width: 2px;
  border-color: var(--white-smoke);
  background-color: var(--sienna);
  color: var(--salmon);
  font-weight: 400;
}

.button.w--current {
  border-radius: 20px;
}

.button.button-services {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  display: flex;
}

.button.button-reverse {
  background-color: var(--relume-library-lite-rl-white);
  color: var(--sienna);
  transition-duration: .5s, .5s;
}

.button.button-reverse:hover {
  border-width: 1px 1px 2px;
  border-color: var(--sienna);
  background-color: var(--salmon);
  color: var(--white-smoke);
}

.header {
  color: #fff;
  text-align: center;
  background-image: linear-gradient(rgba(111, 112, 112, .55), rgba(111, 112, 112, .55)), url('../images/bg-dancewithme_resized_compressed.webp');
  background-position: 0 0, 50% 0;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  padding: 98px 10px;
}

.header.project-page {
  background-color: var(--relume-library-lite-rl-white);
  background-image: linear-gradient(rgba(253, 253, 253, .18), rgba(253, 253, 253, .18)), url('../images/compress-background.webp');
  background-position: 0 0, 50% 0;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  padding-top: 77px;
  padding-bottom: 77px;
}

.navbar {
  background-color: #fff;
  padding-top: 18px;
  padding-bottom: 18px;
  position: relative;
}

.nav-link {
  color: #404040;
  text-transform: uppercase;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  margin-top: 23px;
  margin-left: 34px;
  padding: 0;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 500;
  transition: opacity .2s;
}

.nav-link:hover {
  color: var(--salmon);
  border: 1px #000;
  text-decoration: overline;
}

.nav-link.w--current {
  border-style: none none solid;
  border-width: 0 0 3px;
  border-color: var(--salmon);
  color: var(--sienna);
  font-style: italic;
  font-weight: 700;
}

.logo-title {
  float: left;
  letter-spacing: -2px;
  text-transform: capitalize;
  margin-top: 15px;
  margin-bottom: auto;
  margin-left: -20px;
  font-family: Vollkorn, serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}

.logo-img {
  float: left;
  margin-top: -10px;
  margin-bottom: -10px;
  margin-right: 18px;
}

.brand-block.w--current {
  align-items: center;
  display: flex;
}

.main-heading {
  text-transform: uppercase;
  margin-top: 7px;
  font-family: Montserrat, sans-serif;
  font-size: 44px;
  font-weight: 400;
  line-height: 55px;
}

.divider {
  width: 80px;
  height: 2px;
  background-color: #fff;
  margin: 28px auto;
  display: block;
}

.divider.grey {
  background-color: var(--dark-grey);
  color: var(--white-smoke);
  margin-bottom: 43px;
}

.divider.grey.contact {
  height: 1px;
  background-color: rgba(0, 0, 0, .16);
  margin-bottom: 28px;
}

.main-subtitle {
  color: var(--elements-webflow-library-neutral--100);
  font-family: Vollkorn, serif;
  font-size: 20px;
  font-style: italic;
}

.main-subtitle.contact {
  color: var(--relume-library-lite-rl-black);
  font-size: 35px;
  font-weight: 400;
}

.about-section {
  background-color: var(--salmon);
  text-align: center;
  padding-bottom: 61px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
}

.about-text {
  color: var(--relume-library-lite-rl-white);
  margin-bottom: 40px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
}

.x-icon {
  margin-top: -26px;
  margin-bottom: 34px;
}

.section {
  background-color: var(--relume-library-lite-rl-white);
  opacity: 1;
  text-align: center;
  -webkit-text-fill-color: inherit;
  mix-blend-mode: normal;
  background-clip: border-box;
  border-radius: 0;
  padding-top: 69px;
  padding-bottom: 69px;
  display: block;
}

.section.grey {
  background-color: var(--white-smoke);
  margin-top: 0;
  padding-bottom: 69px;
}

.section.grey.my-gallery {
  margin-bottom: 10px;
}

.section.grey.custom-legal {
  padding-top: 100px;
  padding-bottom: 140px;
}

.section.contact {
  background-color: rgba(248, 187, 140, .34);
  background-image: linear-gradient(to bottom, var(--salmon), var(--salmon));
  font-family: Vollkorn, serif;
}

.section.footer {
  background-color: #000;
  display: block;
}

.section.footer.simple-footer {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0);
  padding-top: 40px;
  padding-bottom: 40px;
}

.section.footer.simple-footer.custom-section-footer {
  padding-bottom: 1rem;
}

.grey-icon-wrapper {
  background-color: #f5f5f5;
  margin-bottom: 38px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.grey-icon-wrapper.push-top {
  background-color: rgba(0, 0, 0, 0);
  border: 2px #000;
  border-radius: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.big-icon {
  border-radius: 20px;
}

.big-icon:hover {
  transform: none;
}

.project-wrapper {
  color: #333;
  text-decoration: none;
  transition: bottom .3s;
  display: block;
  position: relative;
  bottom: 0;
}

.project-wrapper:hover {
  bottom: 8px;
}

.team-image {
  height: auto;
  background-color: var(--salmon);
  opacity: 1;
  outline-color: var(--sienna);
  outline-offset: 0px;
  border-radius: 0%;
  outline-width: 2px;
  outline-style: solid;
  margin-bottom: 40px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.role {
  color: var(--sienna);
  margin-bottom: 16px;
  font-family: Vollkorn, serif;
  font-size: 17px;
  font-style: italic;
}

.team-title {
  color: var(--burlywood);
  margin-bottom: 7px;
  font-family: Lato, sans-serif;
}

.team-title.role {
  color: var(--sienna);
  font-size: 20px;
  font-style: normal;
}

.testimonial-slider {
  height: auto;
  background-color: rgba(0, 0, 0, 0);
}

.quote-icon {
  color: var(--salmon);
  margin-bottom: 37px;
}

.arrow {
  width: 40px;
  color: #e3e3e3;
  font-size: 30px;
  transition: color .3s;
}

.arrow:hover {
  color: #333;
}

.testimonial-slide {
  width: 50%;
  text-align: center;
  padding: 30px 34px 29px;
}

.testimonial-slide.left-border {
  border-left: 2px solid rgba(0, 0, 0, .04);
}

.mask {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.testimonial {
  margin-bottom: 22px;
  font-family: Vollkorn, serif;
  font-size: 24px;
  font-style: italic;
  font-weight: 300;
  line-height: 33px;
}

.from {
  color: #727070;
  text-transform: uppercase;
  margin-bottom: 0;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.icon-wrapper {
  padding-bottom: 10px;
}

.icon-wrapper._2 {
  padding-top: 20px;
}

.footer-logo {
  opacity: 1;
  margin-bottom: 15px;
}

.contact-text {
  color: var(--white-smoke);
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 17px;
  font-weight: 300;
  text-decoration: none;
}

.link {
  color: #1c1c1c;
  background-color: rgba(213, 102, 75, .34);
  border: 1px solid #000;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: underline;
  transition: background-color .575s;
  display: inline;
}

.link:hover {
  background-color: var(--white-smoke);
  color: var(--salmon);
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 400;
}

.link.footer {
  display: none;
}

.link.link-footer {
  border-bottom-width: 2px;
  align-items: flex-start;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0;
  font-weight: 400;
  text-decoration: none;
  transition-duration: .675s;
  display: block;
}

.link.link-footer:hover {
  color: var(--sienna);
}

.social-wrapper {
  text-align: left;
  margin-bottom: 11px;
  margin-left: 33%;
  text-decoration: none;
  transition: opacity .3s;
  display: block;
}

.social-wrapper:hover {
  opacity: .43;
}

.footer-text {
  color: var(--salmon);
  letter-spacing: 1.2px;
  text-transform: none;
  margin-top: 0;
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
}

.social-link-text {
  display: inline-block;
}

.social-icon {
  margin-top: -6px;
  margin-right: 9px;
}

.project-info {
  background-color: #fff;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: none;
}

.project-title {
  color: var(--salmon);
  margin-bottom: 4px;
}

.nav-menu {
  font-size: 18px;
}

.grow-row {
  margin-bottom: 42px;
}

.face {
  border: 3px solid var(--salmon);
  border-radius: 100%;
  margin-bottom: 10px;
  padding: 10px;
}

.paragraph {
  color: #75716d;
  mix-blend-mode: normal;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 20px;
  font-family: Vollkorn, serif;
  font-size: 24px;
  font-weight: 400;
  display: flex;
}

.paragraph.about-text {
  color: rgba(7, 4, 1, .88);
  text-align: center;
  margin-top: 40px;
  padding-top: 0;
  padding-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 18px;
  font-weight: 300;
  display: flex;
}

.image {
  background-color: rgba(0, 0, 0, 0);
  font-weight: 700;
}

.image-2 {
  background-color: rgba(2, 2, 2, 0);
}

.container {
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  display: flex;
}

.container-2 {
  font-weight: 300;
}

.description-xs {
  border: 1px none var(--grey-dark);
  margin-bottom: 40px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.text-block, .text-block.portfolio {
  font-style: italic;
}

.heading {
  color: var(--white-smoke);
  margin-top: 0;
  font-size: 20px;
}

.heading-2 {
  color: var(--salmon);
  font-size: 18px;
  font-weight: 500;
}

.gallery-wrapper {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  display: grid;
}

.gallery-grid {
  grid-row-gap: 40px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.gallery-image {
  width: 100%;
}

.heading-3 {
  color: var(--relume-library-lite-rl-white);
}

.rl-text-style-regular {
  color: var(--relume-library-lite-rl-black);
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.rl_faq1_answer-wrapper {
  margin-bottom: 1.5rem;
}

.rl_faq1_answer {
  overflow: hidden;
}

.rl_faq1_icon {
  width: 2rem;
  height: 2rem;
  color: var(--relume-library-lite-rl-black);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.rl_faq1_icon-wrapper {
  align-self: flex-start;
}

.rl_faq1_question-text {
  color: var(--relume-library-lite-rl-black);
  margin-top: 0;
  margin-bottom: 0;
  font-family: Vollkorn, serif;
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 700;
  line-height: 1.5;
}

.rl_faq1_question {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  border-top: 1px solid var(--relume-library-lite-rl-black);
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  display: flex;
}

.rl_faq1_accordion {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.rl_faq1_list {
  border-bottom: 1px solid var(--relume-library-lite-rl-black);
}

.rl_faq1_spacing-block-1 {
  width: 100%;
  padding-bottom: 1.5rem;
}

.rl_faq1_heading-wrapper {
  width: 100%;
  max-width: 48rem;
  text-align: center;
}

.rl_faq1_component {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.rl-container-small {
  width: 100%;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
}

.rl_section_faq1 {
  background-color: var(--relume-library-lite-rl-white);
}

.heading-footer {
  color: var(--relume-library-lite-rl-white);
}

.text-span {
  margin-bottom: 20px;
  display: block;
}

.background-video {
  display: flex;
}

.background-video.hidden {
  display: none;
}

.image-3 {
  opacity: .36;
}

.container-3 {
  display: block;
}

.image-4 {
  opacity: .27;
}

.column {
  margin-bottom: 40px;
}

.h3-methodo {
  background-color: var(--salmon);
  color: var(--relume-library-lite-rl-white);
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.column-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.gallery-slider {
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.container-4 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.gallery-wrapper-2 {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  display: grid;
}

.gallery-block {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.gallery-slide {
  height: auto;
  background-color: rgba(0, 0, 0, 0);
}

.gallery-slide-wrapper {
  max-width: 47%;
  margin-right: 6%;
}

.gallery-slide-image {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  position: relative;
}

.gallery-image-2 {
  width: 100%;
}

.gallery-slide-text {
  color: #f5f7fa;
  margin-bottom: 0;
  line-height: 32px;
  position: absolute;
  bottom: 24px;
  left: 24px;
  right: 24px;
}

.gallery-slider-left {
  width: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  left: -50px;
}

.gallery-slider-left:focus-visible {
  outline-offset: 0px;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.gallery-slider-left[data-wf-focus-visible] {
  outline-offset: 0px;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.slider-arrow-embed {
  color: #1a1b1f;
}

.gallery-slider-right {
  width: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  right: -50px;
}

.gallery-slider-right:focus-visible {
  outline-offset: 0px;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.gallery-slider-right[data-wf-focus-visible] {
  outline-offset: 0px;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.gallery-slide-nav {
  display: none;
}

.brix---btn-primary {
  background-color: var(--elements-webflow-library-accent--primary-1);
  color: var(--elements-webflow-library-neutral--100);
  text-align: center;
  transform-style: preserve-3d;
  border-radius: 48px;
  justify-content: center;
  padding: 26px 38px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  transition: background-color .3s, transform .3s, color .3s;
}

.brix---btn-primary:hover {
  background-color: var(--elements-webflow-library-secondary--color-1);
  color: var(--elements-webflow-library-neutral--100);
  transform: translate3d(0, -3px, .01px);
}

.brix---buttons-row-center {
  justify-content: center;
  align-items: center;
  display: flex;
}

.brix---image {
  object-fit: cover;
  border-radius: 20px;
  flex: 1;
}

.brix---instagram-image-hidden-on-tablet, .brix---instagram-image {
  border-radius: 24px;
  overflow: hidden;
  transform: translate(0);
}

.brix---image-width-100 {
  width: 100%;
}

.brix---grid-instagram-v2 {
  grid-column-gap: 28px;
  grid-row-gap: 28px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.brix---mg-bottom-40px {
  margin-bottom: 40px;
}

.brix---paragraph-default {
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 18px;
  line-height: 30px;
}

.brix---color-neutral-600 {
  color: var(--elements-webflow-library-neutral--600);
}

.brix---heading-link {
  color: var(--elements-webflow-library-accent--primary-1);
  text-decoration: none;
  transition: color .3s;
}

.brix---heading-link:hover {
  color: var(--elements-webflow-library-secondary--color-1);
}

.brix---heading-h2-size {
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 50px;
}

.brix---color-neutral-800 {
  color: var(--elements-webflow-library-neutral--800);
}

.brix---mg-bottom-16px {
  margin-bottom: 16px;
}

.brix---text-center {
  text-align: center;
}

.brix---inner-container-600px---center {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.brix---container-default {
  max-width: 1218px;
  padding-left: 24px;
  padding-right: 24px;
}

.brix---section {
  color: var(--elements-webflow-library-neutral--100);
  padding-top: 40px;
  padding-bottom: 176px;
}

.brix---image-wrapper-br-24px {
  object-fit: contain;
  border-radius: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  overflow: hidden;
}

.brix---gallery-v5-col-hidden, .brix---gallery-v5-col {
  grid-row-gap: 28px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.brix---grid-gallery-v5 {
  grid-column-gap: 28px;
  grid-row-gap: 28px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-bottom: 20px;
  display: grid;
}

.brix---color-neutral-801 {
  color: var(--elements-webflow-library-neutral--600);
}

.brix---section-2 {
  color: var(--elements-webflow-library-neutral--100);
  padding-top: 100px;
  padding-bottom: 0;
}

.image-5, .image-6, .image-7 {
  object-fit: cover;
  border-radius: 20px;
}

.image-8 {
  text-align: right;
  margin-top: 20px;
}

.div-block {
  text-align: center;
  margin-top: 20px;
}

.slider-portfolio {
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: 40px;
  padding: 0;
}

.icon {
  color: var(--dark-grey);
}

.icon:hover {
  color: var(--sienna);
}

.icon-2 {
  color: var(--dark-grey);
}

.icon-2:hover {
  color: var(--sienna);
}

.custom-methodo {
  margin-top: 20px;
  display: none;
}

.img-custom-methodo {
  width: 400px;
  border: 3px solid var(--salmon);
  object-fit: scale-down;
  border-radius: 20px;
  margin-top: auto;
  margin-bottom: 20px;
  padding: 10px;
}

.rl_footer4_legal-link {
  color: var(--relume-library-lite-rl-black);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: underline;
}

.rl_footer4_credit-text {
  color: var(--relume-library-lite-rl-black);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
}

.rl_footer4_bottom-wrapper {
  grid-column-gap: 1.5rem;
  grid-row-gap: 0rem;
  white-space: normal;
  grid-template-rows: auto;
  grid-template-columns: max-content;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  justify-content: center;
  display: grid;
}

.rl_footer4_spacing-block2 {
  width: 100%;
  padding-bottom: 2rem;
}

.rl_footer4_line-divider {
  width: 100%;
  height: 1px;
  background-color: var(--relume-library-lite-rl-black);
}

.rl_footer4_spacing-block1 {
  width: 100%;
  padding-bottom: .5rem;
}

.rl-social-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.rl_footer4_social-link {
  color: var(--relume-library-lite-rl-black);
  align-items: center;
  text-decoration: none;
  display: flex;
}

.rl_footer4_social-list {
  grid-column-gap: .75rem;
  grid-row-gap: 0rem;
  white-space: normal;
  grid-template-rows: auto;
  grid-template-columns: max-content;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  align-items: start;
  justify-items: start;
  display: none;
}

.rl_footer4_link {
  color: var(--relume-library-lite-rl-black);
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;
}

.rl_footer4_link.nav-link {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
}

.rl_footer4_link.nav-link:hover {
  border-style: none;
}

.rl_footer4_link.nav-link:focus {
  border: 1px #000;
}

.rl_footer4_link.nav-link.w--current {
  border-bottom-width: 2px;
}

.rl_footer4_link-list {
  grid-column-gap: 1.5rem;
  grid-row-gap: 0px;
  white-space: normal;
  grid-template-rows: auto;
  grid-template-columns: max-content;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  justify-content: center;
  justify-items: start;
  padding-bottom: 0;
  text-decoration: none;
  display: grid;
}

.rl_footer4_logo {
  width: 160px;
  height: auto;
}

.rl_footer4_logo-link {
  padding-left: 0;
}

.rl_footer4_top-wrapper {
  grid-column-gap: 4vw;
  grid-row-gap: 3rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  display: grid;
}

.rl-padding-section-medium {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.rl-container-large {
  width: 100%;
  max-width: 80rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.rl-padding-global {
  padding-left: 5%;
  padding-right: 5%;
}

.footer {
  background-color: var(--relume-library-lite-rl-white);
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 260px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.rich-text-block {
  text-align: left;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.link-2 {
  font-size: 14px;
  font-style: italic;
  font-weight: 700;
}

.slide-nav {
  color: var(--salmon);
  background-color: rgba(245, 245, 245, .41);
  padding-top: 0;
  font-size: 20px;
}

.heading-4 {
  text-align: center;
}

.linf-footer {
  color: var(--relume-library-lite-rl-black);
  font-size: 15px;
  font-style: italic;
  text-decoration: none;
}

.linf-footer:hover {
  color: var(--salmon);
  text-decoration: none;
}

.image-9 {
  margin-bottom: 20px;
  margin-right: 20px;
  padding-right: 0;
  display: block;
}

.icon-3, .icon-4 {
  color: var(--salmon);
}

.html-embed {
  margin-bottom: 20px;
}

.link-3 {
  color: var(--white-smoke);
}

.white {
  color: #fff;
}

@media screen and (max-width: 991px) {
  .header {
    padding-top: 140px;
    padding-bottom: 140px;
  }

  .header.custom-politique {
    padding-top: 60px;
    padding-bottom: 40px;
  }

  .nav-link {
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .nav-link:hover {
    border-bottom-color: rgba(0, 0, 0, 0);
  }

  .main-heading {
    font-size: 38px;
    line-height: 44px;
  }

  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .section.footer.simple-footer.custom-section-footer {
    padding-bottom: 0;
  }

  .project-wrapper:hover {
    transform: translate(0);
  }

  .link.link-footer {
    margin-left: -10px;
    margin-right: -10px;
  }

  .social-wrapper {
    margin-left: 30%;
  }

  .footer-text {
    padding-bottom: 0;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
  }

  .menu-button {
    color: var(--salmon);
    margin-top: 7px;
    padding: 10px;
    font-size: 32px;
  }

  .menu-button:hover, .menu-button:focus {
    color: var(--salmon);
  }

  .menu-button.w--open {
    color: #7ec4bd;
    background-color: rgba(0, 0, 0, 0);
  }

  .nav-menu {
    background-color: #f5f5f5;
  }

  .description-xs {
    color: rgba(12, 4, 4, .65);
  }

  .gallery-wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .background-video.hidden {
    display: none;
  }

  .container-4 {
    max-width: 728px;
  }

  .gallery-wrapper-2 {
    grid-template-columns: 1fr 1fr;
  }

  .gallery-slider-left {
    left: -20px;
  }

  .gallery-slider-right {
    right: -20px;
  }

  .brix---btn-primary {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .brix---instagram-image-hidden-on-tablet {
    display: none;
  }

  .brix---grid-instagram-v2 {
    grid-template-columns: 1fr 1fr;
  }

  .brix---heading-h2-size {
    font-size: 30px;
    line-height: 46px;
  }

  .brix---section {
    padding-top: 118px;
    padding-bottom: 118px;
  }

  .brix---image-wrapper-br-24px {
    border-radius: 20px;
  }

  .brix---grid-gallery-v5 {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .brix---section-2 {
    padding-top: 60px;
    padding-bottom: 40px;
  }

  .rl_footer4_top-wrapper {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
  }

  .rl-padding-section-medium {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }

  .slide-nav {
    color: var(--salmon);
    background-color: rgba(245, 245, 245, .38);
    padding-top: 0;
    font-size: 20px;
  }

  .image-9 {
    opacity: 1;
    background-color: snow;
    border-radius: 19px;
    padding: 10px;
  }

  .image-10 {
    display: none;
  }

  .image-11 {
    margin-bottom: 20px;
    margin-right: 20px;
  }

  .icon-5 {
    color: var(--salmon);
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .navbar {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-link {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
  }

  .logo-title {
    margin-top: 6px;
  }

  .logo-img {
    width: 60px;
  }

  .about-section {
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .x-icon {
    margin-bottom: 21px;
  }

  .section {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: auto;
    padding: 0 20px;
  }

  .section.grey.mobile-section {
    margin-bottom: auto;
  }

  .section.contact.footer-home {
    margin-top: auto;
    margin-bottom: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .grey-icon-wrapper {
    margin-bottom: 16px;
    padding: 34px 56px;
    display: inline-block;
  }

  .grey-icon-wrapper.push-top {
    margin-top: 30px;
  }

  .testimonial-slide {
    width: 100%;
  }

  .testimonial-slide.left-border {
    border-left-width: 0;
  }

  .icon-wrapper._2 {
    margin-top: 37px;
  }

  .link.link-footer {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .social-wrapper {
    text-align: center;
    margin-left: 0%;
  }

  .menu-button {
    margin-top: 0;
  }

  .grow-row {
    margin-bottom: 0;
  }

  .rl_faq1_answer-wrapper {
    margin-bottom: 1.25rem;
  }

  .rl_faq1_icon {
    width: 1.75rem;
    height: 1.75rem;
  }

  .rl_faq1_icon-wrapper {
    width: 1.75rem;
  }

  .rl_faq1_question-text {
    font-size: 1rem;
  }

  .rl_faq1_question {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .rl_faq1_spacing-block-1 {
    padding-bottom: 1.25rem;
  }

  .gallery-slider {
    padding: 60px 15px;
  }

  .gallery-slide {
    margin-left: 10px;
    margin-right: 10px;
  }

  .gallery-slide-text {
    line-height: 30px;
  }

  .gallery-slider-left {
    left: -20px;
  }

  .gallery-slider-right {
    right: -20px;
  }

  .brix---btn-primary {
    padding: 20px 32px;
  }

  .brix---image {
    width: 90%;
    margin: 20px;
    padding-left: 0;
  }

  .brix---mg-bottom-40px {
    margin-bottom: 24px;
  }

  .brix---heading-h2-size {
    font-size: 28px;
    line-height: 40px;
  }

  .brix---mg-bottom-16px {
    margin-bottom: 8px;
  }

  .brix---container-default {
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    display: flex;
  }

  .brix---section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .brix---grid-gallery-v5 {
    grid-column-gap: 16px;
    grid-template-columns: 1fr;
  }

  .brix---section-2 {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .rl_footer4_credit-text {
    margin-top: 1rem;
  }

  .rl_footer4_bottom-wrapper {
    grid-column-gap: 0rem;
    grid-row-gap: 1rem;
    grid-auto-flow: row;
    justify-items: center;
  }

  .rl_footer4_spacing-block2 {
    padding-bottom: 1.5rem;
  }

  .rl_footer4_spacing-block1 {
    padding-bottom: 3rem;
  }

  .rl_footer4_link.nav-link {
    padding-top: 0;
    padding-bottom: 0;
  }

  .rl_footer4_link-list {
    grid-column-gap: 0px;
    grid-row-gap: 1.5rem;
    grid-auto-flow: row;
    justify-items: center;
  }

  .rl-padding-section-medium {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .slide-nav {
    text-align: center;
    padding-top: 0;
  }

  .column-3 {
    padding-bottom: 40px;
  }

  .column-7, .column-cta {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 479px) {
  h2 {
    font-size: 20px;
  }

  .button {
    font-size: 16px;
  }

  .button.button-reverse {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .button.button-reverse.w--current {
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px 20px;
  }

  .navbar {
    position: relative;
  }

  .logo-title {
    margin-top: 10px;
    font-size: 22px;
  }

  .main-heading {
    font-size: 22px;
    line-height: 38px;
  }

  .divider.grey.contact.mobile-divider {
    display: none;
  }

  .divider.grey.contact.hide-mobile {
    display: flex;
  }

  .main-subtitle {
    font-size: 16px;
  }

  .main-subtitle.contact {
    font-size: 20px;
    display: inline;
  }

  .about-section {
    padding-bottom: 60px;
  }

  .about-text {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
    font-weight: 300;
  }

  .section {
    margin: auto;
    padding: 40px 10px;
  }

  .section.grey {
    padding-top: 20px;
    padding-bottom: 0;
  }

  .section.grey.mobile-section {
    margin-bottom: 0;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .section.grey.custom-legal {
    padding: 60px 20px;
  }

  .section.contact.custom-m-thodologie {
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .section.contact.footer-home {
    margin-bottom: 20px;
    padding-bottom: 60px;
  }

  .grey-icon-wrapper {
    display: block;
  }

  .grey-icon-wrapper.push-top {
    margin-top: auto;
  }

  .testimonial {
    font-size: 20px;
  }

  .icon-wrapper._2 {
    margin-top: auto;
    margin-bottom: auto;
  }

  .contact-text {
    color: var(--white-smoke);
    font-size: 16px;
  }

  .link.link-footer {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;
  }

  .menu-button:active, .menu-button:focus {
    color: var(--salmon);
  }

  .description-xs {
    margin-left: 10px;
    margin-right: 10px;
  }

  .gallery-wrapper {
    grid-template-columns: 1fr;
  }

  .heading-3 {
    color: var(--sienna);
    font-weight: 400;
  }

  .rl-text-style-regular {
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 300;
  }

  .rl_faq1_question {
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 20px;
    margin-right: 10px;
  }

  .rl_faq1_list {
    border-bottom-style: none;
  }

  .heading-footer.heading-3 {
    margin-bottom: 10px;
  }

  .text-span {
    display: none;
  }

  .background-video {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .italic-text {
    flex: 0 auto;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
  }

  .column {
    margin-bottom: auto;
  }

  .mobile-paragraph {
    margin-bottom: 20px;
  }

  .container-4 {
    max-width: none;
  }

  .gallery-wrapper-2 {
    grid-template-columns: 1fr;
  }

  .gallery-slide-wrapper {
    max-width: 100%;
    margin-right: 0%;
  }

  .gallery-slider-left {
    left: -20px;
  }

  .gallery-slider-right {
    right: -20px;
  }

  .brix---btn-primary {
    width: 100%;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 17px;
    line-height: 19px;
  }

  .brix---buttons-row-center {
    flex-direction: column;
  }

  .brix---image {
    margin: auto;
  }

  .brix---instagram-image-hidden-on-tablet, .brix---instagram-image {
    border-radius: 16px;
  }

  .brix---grid-instagram-v2 {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr 1fr;
  }

  .brix---paragraph-default {
    font-size: 17px;
    line-height: 28px;
  }

  .brix---heading-h2-size {
    font-size: 24px;
    line-height: 34px;
  }

  .brix---mg-bottom-16px {
    margin-bottom: 15px;
  }

  .brix---container-default {
    padding-left: 20px;
    padding-right: 20px;
  }

  .brix---image-wrapper-br-24px {
    border-radius: 16px;
  }

  .brix---gallery-v5-col-hidden {
    display: none;
  }

  .brix---gallery-v5-col {
    grid-row-gap: 16px;
  }

  .brix---grid-gallery-v5 {
    grid-template-columns: 1fr;
  }

  .rl_footer4_credit-text {
    margin-top: 1.25rem;
  }

  .rl_footer4_bottom-wrapper {
    grid-row-gap: 0rem;
  }

  .rl_footer4_spacing-block2 {
    padding-bottom: 1.5rem;
  }

  .rl_footer4_link.nav-link {
    padding-left: 0;
  }

  .rl_footer4_link.nav-link:hover {
    color: var(--salmon);
    text-decoration: overline;
  }

  .rl_footer4_link.nav-link.w--current {
    padding-left: 0;
  }

  .rl_footer4_top-wrapper {
    grid-template-areas: "Area";
  }

  .rl-padding-section-medium {
    padding-top: .25rem;
    padding-bottom: .25rem;
  }

  .rl-padding-global {
    padding-top: 20px;
  }

  .rich-text-block {
    text-align: left;
    display: block;
  }

  .div-block-2, .body {
    margin-bottom: 20px;
  }

  .column-4 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .column-5 {
    padding-bottom: 30px;
  }

  .column-6 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .link-3 {
    font-size: 16px;
    text-decoration: none;
  }

  .link-3:hover {
    text-decoration: underline;
  }
}

#w-node-cbb89eed-6896-0f0a-0173-f70268c1d9d5-68c1d9d1, #w-node-cbb89eed-6896-0f0a-0173-f70268c1d9e2-68c1d9d1 {
  justify-self: center;
}

@media screen and (max-width: 991px) {
  #w-node-cbb89eed-6896-0f0a-0173-f70268c1d9d5-68c1d9d1, #w-node-cbb89eed-6896-0f0a-0173-f70268c1d9e2-68c1d9d1 {
    justify-self: center;
  }
}

@media screen and (max-width: 767px) {
  #w-node-cbb89eed-6896-0f0a-0173-f70268c1d9f3-68c1d9d1 {
    grid-area: 4 / 1 / 5 / 2;
  }
}

@media screen and (max-width: 479px) {
  #w-node-cbb89eed-6896-0f0a-0173-f70268c1d9d5-68c1d9d1 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}


